<header class="bg-zinc-900 flex flex-col md:flex-row gap-3 p-20 rounded-xl text-center md:text-left">
    <div>
        <h1 class="text-5xl font-bold ">Protect your Password</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
            nesciunt!
        </p>
        <button class="bg-indigo-500 px-3 py-2 rounded-sm hover:bg-indigo-400 mt-2">Start now</button>
    </div>
    <img class="w-80" src="/fingerprint_login.svg" alt="fingerprint login" />
</header>
