---
import Layout from "../layouts/Layout.astro"
import Features from "../components/landing/Features.astro";
import About from "../components/landing/About.astro";
---

<Layout titlePage="About">
    <h1 class="text-5xl text-center font-bold">About us</h1>
	<About/>
    <Features/>
</Layout>
