---
import "../styles/Layout.css";
import Footer from "../components/landing/Footer.astro";

interface Props {
    titlePage: string;
}

const { titlePage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{titlePage} - SamPage</title>
    </head>
    <body>
        <main class="mx-auto container md:pt-10">
            <slot />
        </main>
        <Footer />
    </body>
</html>
